aniso8601==7.0.0
asttokens==3.0.1
blinker==1.9.0
click==8.3.1
decorator==5.2.1
executing==2.2.1
Flask==3.1.2
Flask-Login==0.6.3
Flask-RESTful==0.3.7
Flask-SQLAlchemy==3.1.1
greenlet==3.3.0
ipython==9.9.0
ipython_pygments_lexers==1.1.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
MarkupSafe==3.0.3
matplotlib-inline==0.2.1
parso==0.8.5
pexpect==4.9.0
prompt_toolkit==3.0.52
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.19.2
PyMySQL==1.1.2
pytz==2019.2
six==1.12.0
SQLAlchemy==2.0.45
stack-data==0.6.3
traitlets==5.14.3
typing_extensions==4.15.0
wcwidth==0.2.14
Werkzeug==3.1.5
